html{
	background: #eee;

}

.content{
	margin-top: 8%;
	background: white;
	display: block;
	width: 50%;
	box-shadow: 0 4px 13px -3px rgba(0, 0, 0, 0.2);
	margin-left: 25%;
	margin-bottom: 5%;
	
}

.content h1{
	margin-left: 35%;
	padding: 5%;
	color: #5f6468;

}


.content .img{
	width: 20%;
	height: 110px;
	margin-left: 40%;
	margin-bottom: 5%;
	padding-top: 3%;
	padding-left: 2%;
}

.content .img-see{
	height: 100px;
    width: 100px;
	object-fit: cover;
    border-radius: 50%;
}

.content .nom,.prenom,.date,.membre,.email{
	margin-left: 10%;
	margin-right: 10%;
	color: #5f6468;
	margin-top: 2%;
	margin-bottom: 4%;
	border-bottom: 1px solid rgb(228, 225, 225);

}
.content .editer, .post-button ,.all-member{
	margin-left: 10%;
	margin-bottom: 10%;
	width: 80px;
	padding: 1%;
	border: 2px solid #03b1ce;
	background-color: #30a5ff;
	border-radius: 5%;
}
.content .editer a,.post-button a,.all-member a{
	text-decoration: none;
}

.content button a{
   color: white;
   font-size: 16px;
}

/*toutes mes publications*/

#prett{
	border-bottom: 1px solid green;
}

.all-my-pub{
	text-align: center;
	color: #5f6468;
	padding: 2%;
	border-bottom: 1px solid green;
}

.my-post{
	margin-top: 8%;
	background: white;
	display: block;
	width: 50%;
	box-shadow: 0 4px 13px -3px rgba(0, 0, 0, 0.2);
	margin-left: 25%;
	margin-bottom: 5%;

}

.my-post p{
	    width: 90%;
		margin: 2%;
		padding: 1%;
		color: #5f6468;
		margin-left: 5%;
		font-size: 20px;
	}

.pret-commenter {
	/*background: brown;*/
	text-align: center;
}


.pret-commenter a {
	background: #333;
	color:  white;
	padding: 1.5%;
	font-size: 15px;
	border-radius: 15px;
	text-decoration: none;
}





@media only screen and (max-width: 980px) {
    .content{
		width: 90%;
		margin: 2%; /*j'applique dabord le premier margin*/
		margin-left: 5%; /* ensuite apres le premier on applique le second*/
		margin-top: 40%;
	    margin-bottom: 20%;
		
	}
   .content .img-see{
	height: 70px;
    width: 70px;
	object-fit: cover;
    border-radius: 50%;
  }

	.my-post{
	    width: 90%;
		margin: 2%;
		margin-left: 5%;
		margin-top: 40%;
	    margin-bottom: 20%;

   }


   .all-my-pub{
	font-size: 20px;
   }

   .my-post p{
	    width: 90%;
		margin: 2%;
		padding: 2%;
		color: #5f6468;
		margin-left: 5%;
		font-size: 19px;
		
   }

   .my-post h1{
	    
		font-size: 18px;
	}

   .pret-commenter a {
	
	   padding: 3%;
   }
}
    
@media only screen and (max-width: 568px) {
    .content{
		width: 90%;
		margin: 2%;
		margin-left: 5%;
		margin-top: 40%;
	    margin-bottom: 20%;
		
	}

  .content .img-see{
	height: 60px;
    width: 60px;
	object-fit: cover;
    border-radius: 50%;
  }

	.my-post{
	    width: 90%;
		margin: 2%;
		margin-left: 5%;
		margin-top: 40%;
	    margin-bottom: 20%;

   }


   .all-my-pub{
	font-size: 20px;
   }

   .my-post p{
	    width: 90%;
		margin: 2%;
		padding: 2%;
		color: #5f6468;
		margin-left: 5%;
		font-size: 16px;
		
   }

   .my-post h1{
	    
		font-size: 18px;
	}

   .pret-commenter a {
	
	   padding: 3%;
   }
}
    
@media only screen and (max-width: 480px) {
	.content{
		width: 90%;
		margin: 2%;
		margin-left: 5%;
		margin-top: 40%;
	    margin-bottom: 20%;
	} 

   .content .img-see{
	height: 60px;
    width: 60px;
	object-fit: cover;
    border-radius: 50%;
  }

	.my-post{
	    width: 90%;
		margin: 2%;
		margin-left: 5%;
		margin-top: 40%;
	    margin-bottom: 20%;

   }


   .all-my-pub{
	font-size: 20px;
   }

   .my-post p{
	    width: 90%;
		margin: 2%;
		padding: 2%;
		color: #5f6468;
		margin-left: 5%;
		font-size: 15px;
		
   }

   .my-post h1{
	    
		font-size: 18px;
	}

   .pret-commenter a {
	
	   padding: 3%;
   }
}
    
@media only screen and (max-width: 360px) {
	.content{
		width: 90%;
		margin: 2%;
		margin-left: 5%;
		margin-top: 40%;
	    margin-bottom: 20%;

	} 

   .content .img-see{
	height: 50px;
    width: 50px;
	object-fit: cover;
    border-radius: 50%;
   }

	.my-post{
	    width: 90%;
		margin: 2%;
		margin-left: 5%;
		margin-top: 40%;
	    margin-bottom: 20%;

   }


   .all-my-pub{
	font-size: 20px;
   }

   .my-post p{
	    width: 90%;
		margin: 2%;
		padding: 2%;
		color: #5f6468;
		margin-left: 5%;
		font-size: 13px;
		
   }

   .my-post h1{
	    
		font-size: 18px;
	}

   .pret-commenter a {
	
	   padding: 3%;
   }
   
}
    
@media only screen and (max-width: 320px) {
 .content{
	 width: 90%;
	 margin: 2%;
	 margin-left: 5%;
	 margin-top: 40%;
	 margin-bottom: 20%;
	 
 }

 .content h1{
	margin-left: 20%;
	padding: 5%;
	color: #5f6468;

}


.content .img{
	width: 18%;
	height: 120px;
	margin-left: 30%;
	margin-bottom: 5%;
	padding-top: 3%;
	padding-left: 2%;
	/* border: 2px solid #03b1ce; */
	
}

.content .img-see{
	height: 50px;
    width: 50px;
	object-fit: cover;
    border-radius: 50%;
}

.my-post{
	width: 90%;
	 margin: 2%;
	 margin-left: 5%;
	 margin-top: 40%;
	 margin-bottom: 20%;

}


.all-my-pub{
	font-size: 20px;
}

.my-post p{
	    width: 90%;
		margin: 2%;
		padding: 2%;
		color: #5f6468;
		margin-left: 5%;
		font-size: 14px;
	}

	.my-post h1{
	    
		font-size: 18px;
	}

	.pret-commenter a {
	
	   padding: 3%;
   }


}
    

