* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

/* body{
  margin: 0;
  padding: 0;
} */



/* Top Nav */

.top-nav {
  position: fixed;
  left: 0;
  right: 0;
  background: #222;
  /* padding: 4px 0; */
  z-index: 200;
}

.top-nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  /* je donne une hauteur a ma Nav Bar */
  height: 50px;
}


.top-nav nav ul {
  display: flex;
  list-style: none;
}

.top-nav nav ul li a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
  text-transform: uppercase;
  font-size: 14px;
}

/*ici je rend mon image de notification  fixe non visible*/
.top-nav .discussionImg{
  display: none;
}



/* le welcom block */
.welcome{
  margin-top: -30%;
  /* margin-bottom: 10%; */
  text-align: center;
  font-size:30px;
  color: rgb(54, 53, 53);

}

.welcome u{
  /* color:#002e5b;  */
  text-decoration: none; /*j'enleve le soulignemen par defaut*/
  border-bottom:1px solid #fde428;
}

/* fin block welcome */


/* Contact Us Section */

.contact-container h2{
  font-size: 24px;
	text-transform: uppercase;
	margin-bottom: 36px;
	margin-left: 0;
	position: relative;
}


.contact-container h2::after{
  content: "";
	position: absolute;
	height: 3px;
	width: 48px;
	background: #ffe259;
	bottom: -8px;
	left: 0;
}


.contact-container {
  width: 90%;
  margin: 5%;
  padding: 5% 10% 5% 10%;
  margin-top: 100px;
  box-shadow: 0 4px 13px -3px rgba(0, 0, 0, 0.2);
  /* padding: 32px; */
}

.contact-container div {
  display: flex;
  flex-direction: column;
}

.contact-container div input[type="text"],
.contact-container div textarea {
  padding: 8px 24px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
}


.contact-container div input[type="email"]{
  padding: 8px 24px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
}

.contact-container div button.send_admin{
  background: #06f0ff;
  width: 150px;
  padding: 8px 24px;
  border: none;
  font-weight: bold;
  font-size: 16px;
}


/* Footer */

footer {
  background: #000;
  color: #fcfcfc;
  padding: 36px;
  /* margin-top: 100px; */
	/* z-index: 200; */

}

footer a {
  color: #fcfcfc;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer .footer-container {
  display: flex;
  justify-content: space-around;
}

footer .footer-left {
  align-self: center;
}

footer ul {
  list-style: none;
  margin-top: 16px;
}

footer ul li {
  margin: 12px 8px;
}

footer .social-icons {
  margin-top: 20px;
  background: #111;
  padding: 10px;
  max-width: 260px;
  border-radius: 10px;
}

footer .social-icons img {
  margin: 0 20px;
}

footer .social-icons a {
  text-decoration: none;
}

footer .footer-right p {
  margin-top: 20px;
}


/* Hidden Items */

.mobile-menu-icon,.mobile-menu-container,.menu-close-icon {
  display: none;
} 

/* Search Bar */



.top-nav .wrapper {
  position: relative;
}


/* block partenaire */

.member-ship{
  display: inline;
}


.partenaire h2{
  font-size: 24px;
	text-transform: uppercase;
	margin-bottom: 36px;
	margin-left: 15%;
	position: relative;
}

.partenaire h2::after {
	content: "";
	position: absolute;
	height: 3px;
	width: 48px;
	background: #ffe259;
	bottom: -8px;
	left: 0;
  }

.member-ship img{
  height: 100px;
  width: 15%;
}

/* end of block */

@media (max-width: 998px) {
   /* Top Nav */

  .top-nav nav{
    display: none;
  }

/*ici je rend mon image de notification visible*/
  .top-nav .discussionImg{
    display: initial;
  }

  .wrapper {
    width: 100%;
    padding: 0 16px;
  }

  .top-nav .mobile-menu-icon {
    display: block;
    cursor: pointer;
  }

  /* Header */

  .header-wrapper {
    flex-direction: column;
    width: 100%;
    overflow: hidden;
  }

  
  /* Mobile Navigation Menu */

  .top-nav .mobile-menu-container {
    display: flex;
    position: fixed;
    background: #222;
    height: 60vh;
    z-index: 200;
    left: 0;
    right: 0;
    top: -100%;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 500ms cubic-bezier(0.03, 0.95, 0.11, 1.09);
  }

  .top-nav .mobile-menu-container.active {
    opacity: 1;
    pointer-events: auto;
    top: 0;
  }

  .top-nav .mobile-menu-container ul {
    list-style: none;
    text-align: center;
  }

  .top-nav .mobile-menu-container ul li {
    margin: 16px 0;
  }

  .top-nav .mobile-menu-container ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
  }

  .top-nav .mobile-menu-container.active + .menu-close-icon {
    display: flex;
    z-index: 300;
    cursor: pointer;
    padding: 16px;
    background: #000;
    border-radius: 50%;
    margin: 4px;
  }

}


/* Media Queries */

@media (max-width: 600px) {
  /* Top Nav */

  .top-nav nav{
    display: none;
  }

/*ici je rend mon image de notification visible*/
  .top-nav .discussionImg{
    display: initial;
  }

  .wrapper {
    width: 100%;
    padding: 0 16px;
  }

  .top-nav .mobile-menu-icon {
    display: block;
    cursor: pointer;
  }

  /* Header */

  .header-wrapper {
    flex-direction: column;
    width: 100%;
    overflow: hidden;
  }

  /* block welcome */
  .welcome{
    margin-top: -30%;
    text-align: center;
    font-size:25px;
    color: rgb(54, 53, 53);
  
  }

  /* fin welcome */

  
  /* Contact Us */

  .contact-container {
    /*je retire le les ombres du box shadow*/
    /* box-shadow: unset; */ 
    padding: 16px;
  }

  

  /* Footer */

  .footer-container {
    flex-direction: column;
  }

  .footer-container .footer-center {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .footer-container .footer-right {
    text-align: center;
  }

  .footer-container .footer-right .social-icons {
    margin: 20px auto;
    margin-bottom: 60px;
  }



  /* Mobile Navigation Menu */

  .top-nav .mobile-menu-container {
    display: flex;
    position: fixed;
    background: #222;
    height: 60vh;
    z-index: 200;
    left: 0;
    right: 0;
    top: -100%;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 500ms cubic-bezier(0.03, 0.95, 0.11, 1.09);
  }

  .top-nav .mobile-menu-container.active {
    opacity: 1;
    pointer-events: auto;
    top: 0;
  }

  .top-nav .mobile-menu-container ul {
    list-style: none;
    text-align: center;
  }

  .top-nav .mobile-menu-container ul li {
    margin: 16px 0;
  }

  .top-nav .mobile-menu-container ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
  }

  .top-nav .mobile-menu-container.active + .menu-close-icon {
    display: flex;
    z-index: 300;
    cursor: pointer;
    padding: 16px;
    background: #000;
    border-radius: 50%;
    margin: 4px;
  }
}



/* media block evenement */

@media only screen and (max-width: 980px) {
  
}
    
@media only screen and (max-width: 568px) {
  
    
}
    
@media only screen and (max-width: 480px) {
  
}
    
@media only screen and (max-width: 360px) {
    
}
    
@media only screen and (max-width: 320px) {
  
}
    
